#page_wrapper
  #page_top_box
    #page_top_bar
      %h4 hi, i'm tom!
    #page_top_content
      %p so this is an empty homepage because i'm pretty uninteresting but here's a link to my github:
      = link_to 'link!', 'http://github.com/t0m201'
