#main_content
  #big_column
    %h3 this is my webpage
    %p i'm a pretty boring guy and so my website is pretty boring. i like to run and listen to music and stuff
  #small_column
    %h3 links
    .link_box
      = link_to ('github'), 'https://github.com/t0m201'
    .link_box
      = link_to ('music'), 'http://www.last.fm/user/crinky'
