#page_wrapper
  #page_top_bar
    %h4 this is my homepage. it is kind of useless. so uhh... hi
  .page_bar.pink
    = link_to 'here is a link to my github', 'https://github.com/t0m201'
  .page_bar.orange
    %h4 this bar is just empty
  .page_bar.blue
    %h4 this one is also empty
