header
  background: black
  margin: 0 auto
  max-width: $site-width
#header_inner
  margin: 0 auto
  max-width: $site-width
  padding: 10px 30px
  h1
    color: white
    font-size: 2rem
    font-weight: lighter
    margin: 0
