#page_wrapper
  background: rgba(grey, 0.1)
  font-size: 0
  height: 1000px
  margin: 0 auto
  max-width: $site-width
  padding: 30px

#page_top_box
  background-color: white
  border: 1px solid red
  border-radius: 5px
  width: 100%

#page_top_bar
  background: red
  font-size: 1rem
  margin: 0 auto
  padding: 10px
  h4
    color: white
    font-weight: normal
    margin: 0

#page_top_content
  font-size: 1rem
  padding: 10px
  p
    margin: 0
